<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Practice Wordle</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  </head>
  <body>
	<script src="{{url_for('static', filename='index.js')}}"></script>
    
    
    <div id="wrapper">
        <div id="top">
          <h1>Practice Wordle!!</h1>
        </div>
        <div id="left"></div>
        <div id="right"></div>
        <div id="center">
          <p id="secret_word">{{ secret_word }}</p>
          
        </div>
        <div id="bottom">
          <p id="debug"></p>
          <div id="virtual_keyboard"></div>  
        </div>
    </div>
  </body>
</html>
